.but{
    background-color: rgb(255, 0, 64);
    color: aliceblue;
    border-radius: 30px;
    width: 120px;
    height: 60px;
    border: 2px;
    cursor: pointer;
}

.alinharImg{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.alinharBtn{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

.alinharButtons{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

.btn1:hover{
    box-shadow: 0 0 15px rgb(255, 30, 124),
    0 0 20px rgb(255, 44, 132),
    0 0 30px rgb(255, 45, 133);
}

.nova-classe {
    background-color: #4c5baf;
    color: white;
    scale: 1.02;
}

.nova-classe:hover{
    box-shadow: 0 0 15px rgb(30, 34, 255),
    0 0 20px rgb(62, 113, 255),
    0 0 30px rgb(47, 96, 255);
}


h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}